/* ScrollBar */
.scroll-pane {
  -fx-background-color: #d3d3d3;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: derive(#4D4C4F, 10.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
}

.popUp {
  -fx-alignment: center-left;
  -fx-padding: 10px;
  -fx-background-color: #45475a;
  -fx-pref-height: 80px;
  -fx-pref-width: 550px;
  -fx-max-width: 550px;
  -fx-spacing: 10px;
  -fx-border-color: #ffffff;
  -fx-border-width: 1px;
}

.popUp .label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 15px;
  -fx-font-weight: bold;
}

.popUp VBox {
  -fx-alignment: center-left;
  -fx-padding: 2.5px 10px 2.5px 10px;
}

.popUp VBox Text {
  -fx-font-size: 15px;
}

.popUp StackPane ImageView:hover {
  -fx-cursor: hand;
}

.riddle {
  -fx-background-color: #45475a;
  -fx-border-color: #ffffff;
  -fx-border-width: 1px;
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-alignment: centre;
}

.riddle .label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 15px;
}